.jumbotron {
  min-height: 50vh;
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
  border-radius: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: 'Crimson Text', serif;
}

.github a {
  color: #666666;
}

.github {
  float: right;
}

.github img {
  margin: 4px;
  margin-bottom: 5px;
  margin-top: 0;
}

h1,h2,h3,h4 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

a {
  color: #cc0000ff;
}

a:hover {
  color: #950101ff;
}

.headshot {
  border-radius: 50%;
}

.project-description {
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px lightgray;
  background-color: white;
}

.code-tools {
  font-family: monospace;
}
.project-description p{
  margin: 0;
  padding: 0;
}

.content {
  width: 80%;
  margin: auto;
}
